* {
	box-sizing: border-box;
}

.full-width {
	width: 100%;
}

.half-width {
    width: 50%;
}

.third-width {
    width: 33.33333%;
}

.quarter-width {
    width: 25%;
}

.full-height {
	height: 100%;
}

.d-block {
    display: block;
}

.d-inline_block {
    display: inline-block;
}

.d-inline {
    display: inline;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
}

.flex-inline-container {
    display: inline-flex;
    display: -webkit-inline-flex;
}

.flex-dir-column {
    flex-direction: column;
    -webkit-flex-direction: column;
}

.flex-col {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.flex-grow {
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
    -webkit-flex-shrink: 1;
}

.flex-wrap {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}

.flex-hleft {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.flex-hcenter {
    justify-content: center;
    -webkit-justify-content: center;
}

.flex-hright {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}


.flex-vcenter {
    align-items: center;
    -webkit-align-items: center;
}

.self-vcenter {
  align-self: center;
  -webkit-align-self: center;
}

.flex-vbottom {
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

.self-vbottom {
  align-self: flex-end;
  -webkit-align-self: flex-end;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.block-left {
	margin-right: auto;
}

.block-center {
	margin-left: auto;
	margin-right: auto;
}

.block-right {
	margin-left: auto;
}

.horizontal-scroll {
    overflow-x: auto;
}

.no-horizontal-scroll {
    overflow-x: hidden;
}

.vertical-scroll {
    overflow-y: auto;
}

.no-vertical-scroll {
    overflow-y: hidden;
}

.no-scroll {
    overflow: hidden;
}


.m-15 {
    margin: 15px;
}

.mh-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.mv-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.mr-15 {
    margin-right: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.ml-15 {
    margin-left: 15px;
}


.p-15 {
    padding: 15px;
}

.ph-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.pv-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pt-15 {
    padding-top: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-15 {
    padding-left: 15px;
}


.m-10 {
    margin: 10px;
}

.mh-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mv-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}


.p-10 {
    padding: 10px;
}

.ph-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.pv-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.m-5 {
    margin: 5px;
}

.mh-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mv-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.ml-5 {
    margin-left: 5px;
}


.p-5 {
    padding: 5px;
}

.ph-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.pv-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pt-5 {
    padding-top: 5px;
}

.pr-5 {
    padding-right: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pl-5 {
    padding-left: 5px;
}